*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nav-height:4rem;
    --bg-height: 600px;
    --card-size: 216px;
    --card-bg-height: 320px
}

body{
    background-color: rgb(202, 202, 202);
}

/* navigation bar */

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--nav-height);
}

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-family: 'Rubik', sans-serif;
}

#navbar ul li a{
    display: block;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 16px;
    color: black;
    position: relative;
    /* left: 160px; */
    font-size: 1rem;
}

#navbar ul li a:hover{
    color: rgba(17, 14, 14, 0.973);
    background-color: white;
}

/* logo */
#logo{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    top: 0;
    height: var(--nav-height);
    margin-left: 24px;
}

#logo img{
    margin-top: 4px;
    height: 36px;
}

#logoline{
    font-size: 15px;
    /* margin: -7px 3px; */
}


#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    height: calc(var(--bg-height) - var(--nav-height));

}

#home::before{
    content: "";
    position: absolute;
    background: url('../images/bg11.jpg') no-repeat center center/cover;
    height: var(--bg-height);
    width: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.53;
}

.btn{
    padding: 5px 10px;
    border: 2px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin: 40px;
    cursor: pointer;
    width: 160px;
    height: 40px;
    /* position: relative; */
    /* top: 168px; */
    /* left: 440px; */
}

.btn:hover{
    background-color:  rgba(17, 14, 14, 0.973);
}


/* home section */

.hfirst{
    font-size: 3.2rem;
    padding: 3px 6px;
    /* position: relative;
    top: 140px; */
     
}
.pfirst{
    font-size: 1.8rem;
    /* position: relative;
    top: 155px; */
}
.hsecond{
    /* position: relative; */
    /* top: 333px; */
    font-size: 1.5rem;
    padding: 6px;
    text-align: center;
    border: 2px solid #e58c8a;
    background: #eec0c6;
    width: 100%;
    /* height: 40px; */
    /* background-position: center; */
}
 
/* card section */

#card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--card-bg-height);
    /* margin: 24px; */
    /* position: relative; */
    /* top: 300px; */
}

#card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    width: var(--card-size);
    height: var(--card-size);

    border: 2px solid black;
    /* padding: 30px; */
    margin: 20px 20px;
    border-radius: 30px;
    
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
}

#card .box h4{
    /* position: relative; */
    /* top: -8px; */
    margin-top: 16px;
    font-family: 'Rubik', sans-serif;
}

#card .box img{
    display: block;
    height: 80px;
    margin-top: 16px;
}

#card .box p{
    font-family: 'Rubik', sans-serif;
    margin-top: 16px;
}
 #card::before{
    content: "";
    position: absolute;
    background: url(../images/bg.jpg) no-repeat center center/cover;
    height: var(--card-bg-height);
    width: 100%;
    z-index: -1;
    opacity: 0.80;
}

/* contact */

#contact{
    /* position: relative; */
    /* top: 270px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center; 
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 655px;
    z-index: -1;
    opacity: 0.75;
    background: url(../images/contact_us.jpg);
}


#contact-list textarea{
    padding: 8px;
}

#contact-list p{
    padding-top: 36px;
    padding-bottom: 16px;
    font-size: 1.1rem;
}

#contact-list form{
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 24px;
}

#contact-list form input{
    display: inline-block;
    margin-bottom: 16px;
    padding: 8px;
}

#contact-list form label{
    width: 100%;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: start;
    font-family: 'Rubik', sans-serif;
    margin: 4px;
}

.btn2{
    color: white;
    background-color: black;
    /* border: 2px solid; */
    border-style: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-top: 16px;
    cursor: pointer;
}

.btn2:hover{
    background-color:  rgba(27, 23, 23, 0.973);
}